@use "sass:map";

//Colores generales
$navBgColor: rgb(155, 111, 145);
$white: #fff;
$darkGrey: #333;

//Estilos contenedor
$containerWidth: 80%;
$containerCenter: center;

//Estilos bordes
$borderWidth: 0.1rem;
$borderStroke: solid;
$borderRadious: (
    'pequenno': .2rem,
    'normal': 1rem,
    'grande': 2rem
);

//Contenedor de imagenes con pie de texto
$imageContainerWidth: 25%;


//Estilos del contenedor principal
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: $containerWidth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    background: $navBgColor;
    width: 100%;
    ul{
        display: flex;
        list-style: none;
        gap: 10px;
        padding: 10px;
        li:hover{
            color: $white;
            cursor: pointer;
        }
    }
}

.card{
    border: $borderWidth $borderStroke $darkGrey;
    border-radius: map.get($borderRadious,'normal');
    display: flex;
    flex-direction: column;
    align-items: $containerCenter;
    width: $imageContainerWidth;
    padding: 10px;
    img{
        width: 100%;
        border-radius: map.get($borderRadious,'grande');
    }

}