body {
    font-family: sans-serif !important;
    background-color: white !important;
}
.titulo{
    font-size: 1.5rem;
    margin: 0;
}
img{
    padding-top: .75rem;
    width: 100%;
}
.cabecera {
    background-color: aquamarine;
}
.contenido {
    background-color: aliceblue;
}
.lateral1 {
    background-color: beige;
}
.anexo1 {
    background-color: goldenrod;
}

.anexo2 {
    background-color: darkcyan;
}

.lateral2{
    background-color: bisque;
}
.pie {
    background-color: black;
    color: white;
}