@use "sass:math";
@use "sass:map";


/* VARIABLES*/

/* Colores de los botones */
$coloresBtn: (
    btn-error: #ff0000,
    btn-warning: rgb(239, 241, 120),
    btn-accepted: rgb(55, 138, 0),
    btn-normal: rgb(0, 110, 255),
);

/* Colores de la tabla */
$coloresTable: (
    grisClaro: #ccc,
    grisOscuro: #888
);

/* Configuración de botones */
$borderRadious: .4rem;
$buttonHoverShadow: 
    box-shadow($borderRadious)
    box-shadow($borderRadious)
    5px #888;


/* FUNCIONES */

/* Devuelve la mitad del valor recibido */
@function box-shadow($borderRadious) {
    @return math.div($borderRadious, 2);
}

/* Comprueba si un número es par */
@function es-par($numero) {
    @return $numero % 2 == 0;
}

/* Devuelve el color de la columna según si es par o impar */
@function colorColumna($numeroColumna) {
    @if (es-par($numeroColumna)) {
        @return map.get($coloresTable, "grisClaro");
    } @else {
        @return map.get($coloresTable, "grisOscuro");
    }
}

/* Calcula el ancho de una columna según el número de columnas */
@function anchoPorcentaje($numeroColumnas) {
    @return $numeroColumnas * math.div(100%, 8);
}


/*ESTILOS BASE*/

/* Botones */
.btn {
    border-radius: $borderRadious;
    border: none;
    background: none;
    display: inline-block;
    padding: 5px;
    cursor: pointer;

    &:hover {
        box-shadow: $buttonHoverShadow;
    }

    &:active {
        background-color: orange;
        color: white;
    }
}

/* Fila para el sistema de columnas */
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
}

/* Tablas */
table {
    border-collapse:collapse;

    td, th {
        border: 1px solid;
        padding: 5px;
    }
}


/* BUCLES*/

/* Genera las clases de botones automáticamente */
@each $nombre, $color in $coloresBtn {
    .#{$nombre} {
        background-color: $color;
    }
}

/* Colorea las columnas de la tabla alternando colores */
@for $i from 1 through 11 {
    tbody td:nth-child(#{$i}) {
        background: colorColumna($i);
    }
}

/* Genera las columnas del grid (col-1 a col-8) */
@for $i from 1 through 8 {
    .col-#{$i} {
        width: anchoPorcentaje($i);
        border: 1px solid;
    }
}
